/* form field */
.signup__field {
  --border-width: 1px;
  --field-padding: 1rem;
  --radius: 0.5rem;
  --signup-warning-color: var(--color-red-700);

  color: var(--color-neutral-800);

  position: relative;
}
.signup__field[data-icon="error"]::before {
  position: absolute;
  right: var(--field-padding);
  top: var(--field-padding);

  content: "";

  width: 24px;
  height: 24px;

  background-image: url("./images/icon-error.svg");
}

/* placeholder */
.signup__placeholder {
  font-weight: var(--font-weigth-medium);

  opacity: 0.85;

  border: var(--border-width) solid transparent;
  padding: var(--field-padding);

  position: absolute;
}
/* input box*/
.signup__input {
  --input-border-normal: var(--border-width) solid var(--color-neutral-300);
  --input-border-invalid: calc(var(--border-width) * 2) solid
    var(--signup-warning-color);

  font-weight: var(--font-weigth-medium);

  padding: var(--field-padding);
  width: 100%;

  border-radius: var(--radius);
  border: var(--input-border-normal);
}
.signup__field[data-icon="error"] .signup__input {
  color: var(--signup-warning-color);
  border: var(--input-border-invalid);
}
.signup__field[data-icon="error"] .signup__input:focus {
  outline: none;
}
.signup__input:focus {
  outline-width: calc(var(--border-width) * 2);
  outline-style: solid;
  outline-color: var(--color-neutral-500);
  color: var(--color-neutral-800);
  border: none;
}
/* help text */
.signup__field[data-icon="error"] .signup__help-text {
  display: block;

  color: var(--signup-warning-color);
  font-size: var(--signup-font-small);
  text-align: right;

  margin-top: 0.25rem;
}
.signup__help-text {
  display: none;
}
